{% extends "base.html" %}

{% block body %}
<!-- Start rofile Section -->
<section class="profile">
	<div class="container">
		<div class="banner">
			<img src="../static/images/profile.png" alt="Profile-Picture">
		</div>
		<div class="info">
			<span>Aziz Berhouma</span>
			<p>A Frontend Developer And A Content Creator</p>
			<div class="social-links">
				<a href="https://www.instagram.com/aziz.thecoder" target="_blank"><i class="fa-brands fa-instagram"></i></a>
				<a href="https://github.com/Aziztheprogrammer" target="_blank"><i class="fa-brands fa-github"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- End Profile Section -->

<!-- Start Articles Section -->
<section class="articles">
	<div class="container">
		<h1 class="title">Articles</h1>
		<div class="articles">
			{% for article in articles %}
			<div class="art-{{article.art_id}}">
				<img src="{{article.art_img_link}}" alt="Article Image">
				<span><a href = "#">{{article.art_title}}</a></span>
				<p>{{article.art_desc}}</p>
				<small>{{article.art_topic}}</small>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Articles Section -->
{% endblock %}